
    <head>
        {{ $lastBuld := now.Unix }}
        {{ $cahceHashBase := (sha1 $lastBuld) }}
        {{ $site := .Site }}
        {{ if not $site.IsServer }}
        {{ template "_internal/google_analytics.html" . }}
        {{ end }}
        {{ $page := $.Paginator }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if .IsHome }}
        <title>{{ $site.Title }}{{ if gt $page.PageNumber 1 }} | Página {{ $page.PageNumber }}{{ end }}</title>
        <meta name="description" content="{{ $site.Params.Description }}">
        {{ else }}
        <title>{{ .Title }} - {{ $site.Title }}</title>
        <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ $site.Params.description }}{{ end }}">
        {{ end }}
        <meta name="author" content="{{ $site.Params.AuthorName }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-icon-180x180.png" | relURL }}?c={{$cahceHashBase}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" | relURL }}?c={{$cahceHashBase}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png" | relURL }}?c={{$cahceHashBase}}">
        <meta property="og:title" content="{{ if .IsHome }}{{ $site.Title }}{{ else }}{{ .Title }} - {{ $site.Title }}{{ end }}">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="{{ $site.Title }}">
        <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ $site.Params.description }}{{ end }}">
        {{ with .Params.ogimage }}
        <meta property="og:image" content="{{ $site.BaseURL }}{{ . }}">
        {{ else }}
        <meta property="og:image" content="{{ $site.BaseURL }}/images/simple-blog.png">
        {{ end }}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@{{ $site.Params.Twitter }}">
        <meta name="twitter:creator" content="@{{ $site.Params.Twitter }}">
        <meta name="twitter:title" content="{{ if .IsHome }}{{ $site.Title}}}{{ else }}{{ .Title }} - {{ $site.Title }}{{ end }}">
        <meta name="twitter:url" content="{{ .Permalink }}">
        <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ $site.Params.description }}{{ end }}">
        {{ with .Params.ogimage }}
        <meta property="og:image" content="{{ $site.BaseURL }}{{ . }}">
        {{ else }}
        <meta property="og:image" content="{{ $site.BaseURL }}/images/simple-blog.png">
        {{ end }}
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,700&display=swap');

            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                background-color: #f1f1f1;
                color: #616161;
                font-family: 'Roboto', sans-serif;
            }

            h1, h2, h3, h4, h5 {
                font-weight: bold;
            }

            .pages > h2 {
                text-align: center;
            }

            a, a:hover, a:active { 
                color: #616161;
                font-weight: bold;
                text-decoration: none;
            }

            #header {
                margin: auto;
                padding: 32px 0;
                text-align: center;
                width: min(768px,100%);
            }

            #content {
                margin: auto;
                padding: 4px 0;
                width: min(768px,100%);
            }

            code {
                background: #f4f4f4;
                border: 1px solid #ddd;
                border-left: 3px solid #f36d33;
                color: #667;
                display: block;
                font-family: monospace;
                font-size: 15px;
                line-height: 1.6;
                margin-bottom: 1.6em;
                max-width: 100%;
                overflow: auto;
                padding: 1em 1.5em;
                page-break-inside: avoid;
                word-wrap: break-word;
            }

            blockquote {
                background:#f4f4f4;
                border: 1px solid #ddd;
                border-left: 3px solid #78C0A8 ;
                color: #667;
                display: block;
                font-size: 1rem;
                font-style: italic;
                line-height: 1.6;
                margin-bottom: 1.6em;
                max-width: 100%;
                padding: 1em 1.5em;
                position: relative;
            }

            blockquote::before {
                font-family:Arial;
                color:#78C0A8;
                content: "\201C";
                font-size:4em;
                left: 10px;
                position: absolute;
                top:-10px;
            }

            blockquote::after {
                content: '';
            }

            blockquote strong {
                display:block;
                color:#333333;
                font-style: normal;
                font-weight: bold;
                margin-top:1em;
            }

            table {
                border-collapse: collapse;
                margin: auto;
                width: 95%;
            }

            table th,
            table td {
                padding: 8px 16px;
                text-align: left;
            }

            tbody tr:nth-of-type(odd) {
                background-color: #ccc;
            }
            
            .pagination  {
                display: flex;  
                justify-content: center;
                list-style-type: none;
                margin: 32px 0;
                padding: 0;
            }

            article {
                box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
                margin: 16px !important;
                padding: 16px;
            }

            article h1, 
            article h2, 
            article h3, 
            article h4, 
            article p, 
            article ul,
            article ol,
            article pre,
            article blockquote,
            article hr,
            .post-date {
                margin: 16px;
            }

            article ul > li,
            article ol > li {
                margin: 16px;
            }

            article a, article a:hover {
                color: #616161;
                font-weight: normal;
                text-decoration: underline;
            }

            .post-date {
                color: #616161;
            }

            .page-item {
                margin: 0 4px;
            }

            .page-item a {
                background-color: #1a1a1a;
                color: #fff;
                display: block;
                font-weight: normal;
                padding: 16px;
                text-align: center;
            }

            .pagination > .disabled {
                background-color: #ccc;
                color: #1a1a1a;
                display: block;
                padding: 16px;
                text-align: center;
            }

            .pagination  > .active a {
                font-weight: bold !important;
                background-color: #616161;
            }

            footer {
                color: #fff;
                background-color: #616161;
                padding: 32px 0;
                text-align: center;
                text-decoration: none;
                width: 100%;
            }

            footer a, footer a:hover, footer a:active { 
                color: #fff;
            }
            @media only screen and (max-width: 576px) {
                .single  {
                    flex-direction: column;
                }

                article {
                    box-shadow: none;
                    margin: 0 !important;
                    padding: 8px;
                }

                article h1, 
                article h2, 
                article h3, 
                article h4, 
                article p, 
                article ul,
                article ol,
                article pre,
                article blockquote,
                article hr,
                .post-date {
                    margin: 16px 8px;
                }

                .page-item {
                    margin: 8px;
                }
                table, thead, tbody, th, td, tr { 
	            	display: block; 
	            }

                thead tr { 
                    display: none;
                }

                td { 
                    border: none;
                    border-bottom: 1px solid #616161; 
                    padding-left: 50%; 
                    position: relative;
                }
            }
            @media (prefers-color-scheme: dark) {
                body {
                    background-color: #1a1a1a;
                    }
            }
        </style> 
    </head>

