
        <div class="paginator">
            {{ $pag := $.Paginator }}
            {{ if gt $pag.TotalPages 1 }}
            <ul class="pagination">
                {{ if $pag.HasPrev }}
                <li class="page-item"><a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">&#60;</span></a></li>
                {{ else }}
                <li class="page-item disabled"><span aria-hidden="true">&#60;</span></li>
                {{ end }}
                <li class="page-item active"><a class="page-link" href="{{ .URL }}">{{ $pag.PageNumber }}</a></li>
                {{ if $pag.HasNext }}
                <li class="page-item"><a href="{{ $pag.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">&#62;</span></a></li>
                {{ else }}
                <li class="page-item disabled"><span aria-hidden="true">&#62;</span></li>
                {{ end }}
            </ul>
            {{ end }}        
        </div>

