{{ define "main" }}
<!--$paginator-->
{{ $p := .Pages }}
{{ if .IsHome }}
{{ $p = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ else if eq .Kind "taxonomy" }}
{{ $p = $p.ByTitle }}
{{ end }}
{{ $paginator := .Paginate $p }}

            <main>
                <div class="pages">
                    {{ $page := $.Paginator }}
                    {{ if gt $page.PageNumber 1 }}<h2>Página {{ $page.PageNumber }}</h2>{{ end }}
                </div>
                {{ range $paginator.Pages }}
                <article>
                    <div class="post-date">{{ .Date.Format "2006-01-02"}}</div>
                    <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
                    <p></p>
                    {{ .Content }}
                </article>
                {{ end }}
        </main>

{{- partial "pagination.html" . -}}
{{ end }}
