<!DOCTYPE html>
<html lang="es">
    {{- partial "head.html" . -}}
    <body>

        {{- partial "header.html" . -}}
        <header id="header">
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            {{ with .Params.subtitle }}
            <span class="subtitle">{{.}}</span>
            {{ end }}
        </header>
        <div id="content">
        {{- block "main" . }}
        {{- end }}
        </div>
        {{- partial "footer.html" . -}}

    </body>
</html>
