{{ define "main" }}
<!--$paginator-->
{{ $p := .Pages }}
{{ if .IsHome }}
  {{ $p = where site.RegularPages "Type" "in" site.Params.mainSections  }}
{{ else if eq .Kind "taxonomy" }}
  {{ $p = $p.ByTitle }}
{{ end }}

{{ $paginator := .Paginate $p }}
  <div>
    <div class="pages">
      <h2>{{.Title}}{{ if gt $paginator.PageNumber 1 }} Página {{ $paginator.PageNumber }}{{ end }}</h2>
    </div>
    {{ range $paginator.Pages }}
    <article> 
        <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
        <p></p>
        {{ .Content }}
    </article>  
    {{ end }}
  </div>
  {{- partial "pagination.html" . -}}
{{ end }}
