{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div>
    <article>
        <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
        {{ .Content }}
    </article>  
    <div class="paginator">
        <ul class="pagination single">
            {{ if .NextPage }}
            <li class="page-item"><a class="page-link" aria-label="Siguiente" href="{{ .NextPage.Permalink }}">&#60; {{ .NextPage.Title | truncate 50 "..." }}</a></li>
            {{ end }}
            {{ if .PrevPage }}
            <li class="page-item"><a class="page-link" aria-label="Anterior" href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title | truncate 50 "..."}} &#62;</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
